/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 16, 2017, 10:32:53 PM
    Author     : Jitesh Mahla
*/

.form {
  
    color: #777777;
  background-color: #ffffff;
  padding: 25px 30px 30px 30px;
  max-width: 400px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); 
}

.notice_bulletin {
  
    color: #777777;
  background-color: #ffffff;
  padding : 25px 30px 30px 30px;
  max-width: 920px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); 
}

.notice_header {
    text-align: center;
  border: 0;
  padding: 10px;
  outline: none;
  border-radius: 1px;
  font-size: 20px;
  text-transform: uppercase;
  background: #428bca;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  width: 100%;
}
.notice_header:hover {
  background: #2c74b2;
  color: #ffffff;
}




.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  background: rgba(160, 179, 176, 0.25);
  border-radius: 2px;
  color: #1e68a7;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #2c74b2;
  color: #ffffff;
}
.tab-group .active a {
  background: #428bca;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}


.forgot {
  margin-top: -20px;
  text-align: center;
}

.button {
  border: 0;
  outline: none;
  border-radius: 2px;
  padding: 5px 0;
  font-size: 20px;
  text-transform: uppercase;
  background: #428bca;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  width: 100%;
}
.button:hover, .button:focus {
  background: #2c74b2;
}


.p-body{
  text-align:center;
}

.admin {
  text-decoration: none;
  margin: 10px 25px 2px 0px;
  padding: 8px;
  background-color: #428bca;
  border-radius: 2px;
  color: #ffffff;
  font-size: 15px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.admin:hover {
  background: #2c74b2;
  color: #ffffff;
}

a:link
{
    text-decoration: none;
}

.container-header
{
    background-color:#E5E8E8;
    padding : 10px 60px 10px 60px;
   
    z-index: 1031;
}

.header-title
{
    margin-top: 30px;
    font-size: 25px;
    color: #d9230f;
    font-weight: bold;
    text-align: center;
}

.admin_login_head {
    
  margin: 0 0 20px 0;
  display: block;
  text-decoration: none;
  padding: 10px;
  background: #428bca;
  color: #ffffff;
  border-radius: 2px;
  font-size: 20px;
  //float: left;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

